<section id="opening-times" class="invert">
  <div class="container container-heading">
    <p><strong>Please note:</strong> appointments on Friday/Saturday now require pre-booking on <a href="https://booksy.com/en-gb/40924_moustache-barbers_barber_1471373_leeds" target="_blank">Booksy</a></p>
    <hr class="primary">
  </div>
  
  <div class="container scrtop-anim">
    <h4>Opening hours</h4>
    <table id="opening-times-table" class="opening-times scrtop-hide">
      <thead>
        <tr>
          <th scope="row">Day</th>
          <% for (let i = 0; i < data.hours.length; i++) { %>
          <th data-day="<%= i === 6 ? 0 : i+1 %>" scope="col"><%= data.hours[i].day %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Open</th>
          <% for (let i = 0; i < data.hours.length; i++) { %>
          <td data-day="<%= i === 6 ? 0 : i+1 %>" scope="col"><%= data.hours[i].open %></th>
          <% } %>
        </tr>
        <tr>
          <th scope="row">Close</th>
          <% for (let i = 0; i < data.hours.length; i++) { %>
          <td data-day="<%= i === 6 ? 0 : i+1 %>" scope="col"><%= data.hours[i].close %></th>
          <% } %>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <hr class="primary">
  <div class="container scrtop-anim">
    <h4>Christmas Opening hours</h4>
    <table id="opening-times-table" class="opening-times scrtop-hide">
      <thead>
        <tr>
          <th scope="row">Day</th>
          <th scope="col">Christmas Eve</th>
          <th scope="col">Christmas Day</th>
          <th scope="col">Boxing Day</th>
          <th scope="col">Dec 27th/28th</th>
          <th scope="col">Dec 29th/30th</th>
          <th scope="col">New Years Eve</th>
          <th scope="col">Jan 1st to Jan 3rd</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Open</th>
          <td scope="col">08:00</td>
          <td scope="col">Closed</td>
          <td scope="col">Closed</td>
          <td scope="col">Closed</td>
          <td scope="col">09:00</td>
          <td scope="col">09:00</td>
          <td scope="col">Closed</td>
        </tr>
        <tr>
          <th scope="row">Close</th>
          <td scope="col">14:00</td>
          <td scope="col">-</td>
          <td scope="col">-</td>
          <td scope="col">-</td>
          <td scope="col">17:30</td>
          <td scope="col">15:00</td>
          <td scope="col">-</td>
        </tr>
      </tbody>
    </table> -->
  </div>

  <br />
</section>
