<section id="opening-times" class="invert">
  <div class="container container-heading">
    <p>Now taking appointments on Friday Saturdays, beat the cue and book now on <a href="https://booksy.com/en-gb/40924_moustache-barbers_barber_1471373_leeds" target="_blank">Booksy</a></p>
    <hr class="primary">
  </div>
  
  <div class="container scrtop-anim">
    <h4>Opening hours</h4>
    <table id="opening-times-table" class="opening-times scrtop-hide">
      <thead>
        <tr>
          <th scope="row">Day</th>
          <% for (let i = 0; i < hours.length; i++) { %>
          <th data-day="<%= i === 6 ? 0 : i+1 %>" scope="col"><%= hours[i].day %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Open</th>
          <% for (let i = 0; i < hours.length; i++) { %>
          <td data-day="<%= i === 6 ? 0 : i+1 %>" scope="col"><%= hours[i].open %></th>
          <% } %>
        </tr>
        <tr>
          <th scope="row">Close</th>
          <% for (let i = 0; i < hours.length; i++) { %>
          <td data-day="<%= i === 6 ? 0 : i+1 %>" scope="col"><%= hours[i].close %></th>
          <% } %>
        </tr>
      </tbody>
    </table>
  </div>
  <% if (additionalHours.enabled) { %>
    <%- include ('./additionalhours.ejs') %>
  <% } %>
  <br />
</section>
